body{
   background-image: url("https://fondosmil.com/fondo/2781.jpg");
}
#centro{
    margin-left: 450px;
}
  img{
    display: block;
    margin-right: auto;
    margin: 8px;
  }
  #titulo{
    display: flex;
  }
  #titulo img{
    margin-right: 0;
  }
  .imagen{
    display: flex;
  }
  p{
    width: 100px;
  }